body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgray;
  min-height: 100vh;
  font-size: 16px;
}

h1,
p {
  padding: 10px;
}

header,
footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

footer {
  margin-top: auto;
}

.topnav a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px 10px;
}
.topnav ul {
  list-style-type: none;
  padding: 0;
}
.topnav li {
  display: inline;
  margin-right: 10px;
}

.image {
  display: none;
}

@media only screen and (max-width: 768px) {
  .topnav li {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
  }
}
@media only screen and (min-width: 1100px) {
  .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #login-form {
    width: 50%;
  }
  .image {
    display: block;
    border-radius: 30px;
    width: 50%;
    padding: 10px;
  }
}
#signUpBtn, .registerBtn, .loginBtn {
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.loginBtn {
  background-color: #808080;
  width: 100%;
}
.loginBtn:hover {
  background-color: #696969;
}
.loginBtn:active {
  background-color: #505050;
}

.registerBtn {
  background-color: #42b72a;
  font-size: 18px;
}
.registerBtn:hover {
  background-color: #369b22;
}
.registerBtn:active {
  background-color: #2d8220;
}

#signUpBtn {
  background-color: rgb(80, 80, 231);
}
#signUpBtn:hover {
  background-color: rgb(50, 50, 205);
}
#signUpBtn:active {
  background-color: blue;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

#loginForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
}
#loginForm input[type=text],
#loginForm input[type=password],
#loginForm input[type=submit] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#cat_404 {
  width: 30%;
  height: 30%;
  margin: 20px;
}

.blurred-background {
  filter: blur(5px);
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-content h2 {
  margin-top: 0;
}
.modal-content form {
  display: flex;
  flex-direction: column;
}
.modal-content form label {
  margin-bottom: 5px;
}
.modal-content form input[type=text],
.modal-content form input[type=password] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.modal-content form button[type=submit] {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
.modal-content form button[type=submit]:hover {
  background-color: #45a049;
}
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.registerBox {
  display: flex;
  flex-direction: column;
}
.registerBox label {
  margin-bottom: 5px;
}
.registerBox input[type=text],
.registerBox input[type=email],
.registerBox input[type=password],
.registerBox button[type=submit] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
.registerBox button[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
.registerBox button[type=submit]:hover {
  background-color: #45a049;
}

main {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

#taskInput,
#priorityInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}
table,
table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
table th {
  background-color: #f2f2f2;
}

.done {
  background-color: lightgreen;
}

.not-done-high {
  background-color: #f70000;
}

.not-done-normal {
  background-color: #ffd000;
}

.not-done-low {
  background-color: #01aeff;
}

/*# sourceMappingURL=main.css.map */
