footer {
  margin-top: auto;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
}
header .user-profile-icon img {
  display: block;
  width: 100%;
  height: auto;
}
header #profile-button {
  width: 50px;
  height: 50px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgray;
  min-height: 100vh;
  font-size: 16px;
}

h1,
h2,
h3,
p {
  padding: 10px;
}

.topnav a {
  color: #fff;
  text-decoration: none;
  border: 5px solid #fff;
  padding: 10px 15px;
}
.topnav ul {
  list-style-type: none;
  padding: 0;
}
.topnav li {
  display: inline;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .topnav li {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
  }
}
@media only screen and (min-width: 1100px) {
  .home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #login-form {
    width: 50%;
  }
  #todo-list-img {
    display: block;
    border-radius: 30px;
    width: 50%;
    padding: 10px;
  }
}
#cat_404 {
  width: 30%;
  height: 30%;
  margin-bottom: 10px;
}

.blurred-background {
  filter: blur(5px);
  transition: filter 2s ease;
}

.register-box {
  display: flex;
  flex-direction: column;
}
.register-box label {
  margin-bottom: 5px;
}
.register-box input[type=text],
.register-box input[type=password] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
.register-box .username-available {
  color: green;
}
.register-box .username-taken {
  color: red;
}

main {
  padding: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-task-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.edit-task-modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.edit-task-modal-content h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 28px;
  font-weight: bold;
}
.edit-task-modal-content label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 18px;
}
.edit-task-modal-content input[type=text],
.edit-task-modal-content input[type=date],
.edit-task-modal-content textarea,
.edit-task-modal-content select {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
.edit-task-modal-content textarea {
  height: 100px;
  resize: vertical;
}
.edit-task-modal-content button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}
.edit-task-modal-content button:hover {
  opacity: 0.9;
}
.edit-task-modal-content #save-edit-task-btn {
  background-color: #4CAF50;
  color: white;
}
.edit-task-modal-content #save-edit-task-btn:hover {
  background-color: #45a049;
}
.edit-task-modal-content #delete-task-btn {
  background-color: #f44336;
  color: white;
  margin-right: 10px;
}
.edit-task-modal-content #delete-task-btn:hover {
  background-color: #da190b;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#new-task-form {
  display: flex;
  align-items: center;
  gap: 10px;
}
#new-task-form #task-input,
#new-task-form #priority-input,
#new-task-form #add-task-btn {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 1;
  box-sizing: border-box;
  flex-grow: 1;
}
#new-task-form #task-input {
  flex-basis: 70%;
}
#new-task-form #priority-input {
  flex-basis: 15%;
}
#new-task-form #add-task-btn {
  flex-basis: 15%;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
#new-task-form #add-task-btn:hover {
  background-color: #45a049;
}

#todo-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}
#todo-table th,
#todo-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#todo-table th:nth-child(1),
#todo-table td:nth-child(1) {
  width: 15%;
}
#todo-table th:nth-child(2),
#todo-table td:nth-child(2) {
  width: 63%;
}
#todo-table th:nth-child(3),
#todo-table td:nth-child(3) {
  width: 10%;
}
#todo-table th:nth-child(4),
#todo-table td:nth-child(4) {
  width: 7%;
}
#todo-table th:nth-child(5),
#todo-table td:nth-child(5) {
  width: 5%;
}
#todo-table th {
  background-color: #f2f2f2;
}

.done {
  background-color: lightgreen;
}

.not-done-high {
  background-color: #f70000;
}

.not-done-normal {
  background-color: #ffd000;
}

.not-done-low {
  background-color: #01aeff;
}

#sign-up-btn, #create-new-account-btn, #home-btn, #login-btn {
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

#login-btn {
  background-color: #808080;
  width: 100%;
  margin-top: 10px;
}
#login-btn:hover {
  background-color: #696969;
}
#login-btn:active {
  background-color: #505050;
}

#home-btn {
  background-color: #2cf309;
  width: 100%;
}
#home-btn:hover {
  background-color: #1f760f;
}
#home-btn:active {
  background-color: #085608;
}

#create-new-account-btn {
  background-color: #42b72a;
  font-size: 18px;
}
#create-new-account-btn:hover {
  background-color: #369b22;
}
#create-new-account-btn:active {
  background-color: #2d8220;
}

#sign-up-btn {
  background-color: rgb(80, 80, 231);
}
#sign-up-btn:hover {
  background-color: rgb(50, 50, 205);
}
#sign-up-btn:active {
  background-color: blue;
}

#toggle-guidelines-btn {
  color: white;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  background-color: rgb(80, 80, 231);
}
#toggle-guidelines-btn:hover {
  background-color: rgb(50, 50, 205);
}
#toggle-guidelines-btn:active {
  background-color: blue;
}

#cookie-consent-banner {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2e6d9;
  padding: 20px;
  text-align: center;
  border-top: 2px solid #e0c3a6;
}
#cookie-consent-banner .cookie-banner-content {
  display: flex;
  width: 100%;
  align-items: center;
}
#cookie-consent-banner .cookie-banner-content .cookie-banner-image {
  width: 25%;
  object-fit: cover;
}
#cookie-consent-banner .cookie-banner-content .cookie-banner-text {
  width: 75%;
  padding-left: 10px;
  text-align: left;
}
#cookie-consent-banner .cookie-banner-content .cookie-banner-text strong {
  font-size: 18px;
}
#cookie-consent-banner .cookie-banner-content .cookie-banner-text p {
  margin: 5px 0;
  line-height: 1.4;
}
#cookie-consent-banner #accept-cookie-consent {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #e0c3a6;
  color: #5a3825;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
}
#login-form input[type=text],
#login-form input[type=password] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#register-form {
  display: flex;
  flex-direction: column;
}
#register-form label {
  margin-bottom: 5px;
}
#register-form input[type=text],
#register-form input[type=password] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#todo-list-img {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-content h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=main.css.map */
