#cat_404 {
  width: 30%;
  height: 30%;
  margin-bottom: 10px;
}

.blurred-background {
  filter: blur(5px);
  transition: filter 2s ease;
}

.register-box {
  display: flex;
  flex-direction: column;
}
.register-box label {
  margin-bottom: 5px;
}
.register-box input[type=text],
.register-box input[type=password] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
.register-box .username-available {
  color: green;
}
.register-box .username-taken {
  color: red;
}

main {
  padding: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-task-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.edit-task-modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.edit-task-modal-content h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 28px;
  font-weight: bold;
}
.edit-task-modal-content label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 18px;
}
.edit-task-modal-content input[type=text],
.edit-task-modal-content input[type=date],
.edit-task-modal-content textarea,
.edit-task-modal-content select {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
.edit-task-modal-content textarea {
  height: 100px;
  resize: vertical;
}
.edit-task-modal-content button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}
.edit-task-modal-content button:hover {
  opacity: 0.9;
}
.edit-task-modal-content #save-edit-task-btn {
  background-color: #4CAF50;
  color: white;
}
.edit-task-modal-content #save-edit-task-btn:hover {
  background-color: #45a049;
}
.edit-task-modal-content #delete-task-btn {
  background-color: #f44336;
  color: white;
  margin-right: 10px;
}
.edit-task-modal-content #delete-task-btn:hover {
  background-color: #da190b;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#new-task-form {
  display: flex;
  align-items: center;
  gap: 10px;
}
#new-task-form #task-input,
#new-task-form #priority-input,
#new-task-form #add-task-btn {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 1;
  box-sizing: border-box;
  flex-grow: 1;
}
#new-task-form #task-input {
  flex-basis: 70%;
}
#new-task-form #priority-input {
  flex-basis: 15%;
}
#new-task-form #add-task-btn {
  flex-basis: 15%;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
#new-task-form #add-task-btn:hover {
  background-color: #45a049;
}

#todo-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}
#todo-table th,
#todo-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#todo-table th:nth-child(1),
#todo-table td:nth-child(1) {
  width: 20%;
}
#todo-table th:nth-child(2),
#todo-table td:nth-child(2) {
  width: 58%;
}
#todo-table th:nth-child(3),
#todo-table td:nth-child(3) {
  width: 10%;
}
#todo-table th:nth-child(4),
#todo-table td:nth-child(4) {
  width: 7%;
}
#todo-table th:nth-child(5),
#todo-table td:nth-child(5) {
  width: 5%;
}
#todo-table th {
  background-color: #f2f2f2;
}
#todo-table .not-done-High {
  background-color: #f70000;
}
#todo-table .not-done-Medium {
  background-color: #ffd000;
}
#todo-table .not-done-Low {
  background-color: #01aeff;
}
#todo-table .done {
  background-color: lightgreen;
}

/*# sourceMappingURL=pages.css.map */
