<form id="login-form" action="/login" method="POST">
    <h2>Login</h2>
    <input type="text" id="login-username" name="username" placeholder="Username" autocomplete="username">
    <input type="password" id="login-password" name="password" placeholder="Password" autocomplete="current-password">
    <button id="login-btn">Log In</button>
    <hr>
    <button id="create-new-account-btn" class="create-new-account-btn">Create new account</button>
</form>