/* Error: Undefined variable.
 *     ,
 * 152 | $color in $priority-colors {
 *     |           ^^^^^^^^^^^^^^^^
 *     '
 *   public/styles/scss/pages/_tasks.scss 152:11  @import
 *   public/styles/scss/pages/pages.scss 4:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 152 \2502  $color in $priority-colors {\a     \2502            ^^^^^^^^^^^^^^^^\a     \2575 \a   public/styles/scss/pages/_tasks.scss 152:11  @import\a   public/styles/scss/pages/pages.scss 4:9      root stylesheet";
}
