<header class="header">
    <h1>Task Master</h1>
    <%- include('_navbar') %>
    <button id="profile-button" class="user-profile-icon">
        <img src="../../../frontend/public/images/profile-user.png" alt="User Profile" />
    </button>
</header>