<!DOCTYPE html>
<html lang="en">

<%- include('_head') %>

<body>

    <%- include('_header') %>

    <%- include(content || 'pages/404') %>

    <%- include('_footer') %>

    <!---    <script type="module" src="/js/cookieHandler.js"></script> -->

</body>

</html>