<main>

    <img id="cat_404" src="../images/404_cat.jpeg" alt="A sad looking cat and the white text 404 not found.">
    <button href="/" id="homeBtn">Bring Me Home</button>

    <script>
        document.getElementById('homeBtn').addEventListener('click', function () {
            window.location.href = '/';
        });
    </script>


</main>