<main class="content-container">
    <form id="loginForm" action="/login" method="POST">
        <h2>Login</h2>
        <input type="text" id="loginUsername" name="username" placeholder="Username">
        <input type="password" id="loginPassword" name="password" placeholder="Password">
        <button id="loginBtn">Log In</button>
        <hr>
        <button id="registerBtn" class="registerBtn">Create new account</button>
    </form>

    <img class="image" src="images/todo_list.jpg" class="rounded-image"
        alt="A table on which there are plants, paper clips, a clipboard, an alarm clock and a ballpoint pen.">

</main>

<script type="module" src="js/auth.js"></script>

<div id="registerBox" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Create new account</h2>
        <form id="registerForm">
            <input type="text" id="registerUsername" name="username" placeholder="Username">
            <input type="password" id="registerPassword" name="password" placeholder="Password">
            <button id="signUpBtn">Sign Up</button>
        </form>
    </div>
</div>