<main class="content-container">
    <form id="login-form" action="/login" method="POST">
        <h2>Login</h2>

        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>

        <input type="submit" value="Login">
        <hr>
        <a id="register-link" href="#register">Create new account</a>
    </form>

    <img class="image" src="images/todo_list.jpg" class="rounded-image"
        alt="A table on which there are plants, paper clips, a clipboard, an alarm clock and a ballpoint pen.">
</main>