<main class="content-container">
    <form id="loginForm" action="/login" method="POST">
        <h2>Login</h2>
        <input type="text" id="loginUsername" name="username" placeholder="Username">
        <input type="password" id="loginPassword" name="password" placeholder="Password">
        <button id="loginBtn">Log In</button>
        <hr>
        <button id="registerBtn" class="registerBtn">Create new account</button>
    </form>

    <img class="image" src="images/todo_list.jpg" class="rounded-image"
        alt="A table on which there are plants, paper clips, a clipboard, an alarm clock and a ballpoint pen.">

</main>

<script type="module" src="js/auth.js"></script>

<div id="registerBox" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Create new account</h2>
        <form id="registerForm">
            <button type="button" id="toggleGuidelinesBtn">Show Registration Guidelines</button>
            <div id="registrationGuidelines" style="display: none;">
                <h3>Registration Guidelines</h3>
                <ul>
                    <li><strong>Username:</strong>
                        <ul>
                            <li>Must be unique and not already in use</li>
                            <li>At least 3 characters long</li>
                        </ul>
                    </li>
                    <li><strong>Password:</strong>
                        <ul>
                            <li>At least 8 characters long.</li>
                            <li>Include a mix of upper and lower case letters</li>
                            <li>Include at least one number and one special symbol (e.g., !, @, #)</li>
                            <li>Avoid using easily guessable information like your name or birthday</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div id="usernameFeedback"></div>
            <input type="text" id="registerUsername" name="username" placeholder="Username">
            <div id="passwordFeedback"></div>
            <input type="password" id="registerPassword" name="password" placeholder="Password">
            <button id="signUpBtn" disabled>Sign Up</button>
    </div>

    </form>
</div>
</div>