// Layout-specific styles
header,
footer {
    background-color: $primary-color;
    color: $secondary-color;
    display: flex;
    justify-content: space-between;
}


footer {
    margin-top: auto;
}

.topnav {
    a {
        color: $secondary-color;
        text-decoration: none;
        border: 1px solid $secondary-color;
        padding: 5px 10px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline;
        margin-right: 10px;
    }
}

.image {
    display: none;
}



@include respond-to(small) {
    .topnav {
        li {
            display: block;
            margin-bottom: 10px;
            padding: 5px;
        }
    }
}



@include respond-to(large) {

    .content-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


    #login-form {
        width: 50%;
    }

    .image {
        display: block;
        border-radius: 30px;
        width: 50%;
        padding: 10px;
    }
}