%button-style {
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

#login-btn {
  @extend %button-style;
  background-color: #595959;
  width: 100%;
  margin-top: 10px;

  &:hover {
    background-color: #404040;
  }

  &:active {
    background-color: #202020;
  }
}

#home-btn {
  @extend %button-style;
  background-color: #198214;
  width: 100%;

  &:hover {
    background-color: #145a0d;
  }

  &:active {
    background-color: #0f3d09;
  }
}

#create-new-account-btn {
  @extend %button-style;
  background-color: #0c2607;
  font-size: 18px;

  &:hover {
    background-color: #0f3d09;
  }

  &:active {
    background-color: #0a2f07;
  }
}

#sign-up-btn {
  @extend %button-style;
  background-color: #323aa8;

  &:hover {
    background-color: #292c89;
  }

  &:active {
    background-color: #1e1f5e;
  }
}

#toggle-guidelines-btn {
  color: white;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;

  background-color: #323aa8;

  &:hover {
    background-color: #292c89;
  }

  &:active {
    background-color: #1e1f5e;
  }
}
