%button-style {
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

#login-btn {
    @extend %button-style;
    background-color: #808080;
    width: 100%;
    margin-top: 10px;

    &:hover {
        background-color: #696969;
    }

    &:active {
        background-color: #505050;
    }
}

#home-btn {
    @extend %button-style;
    background-color: #2cf309;
    width: 100%;

    &:hover {
        background-color: #1f760f;
    }

    &:active {
        background-color: #085608;
    }
}

#create-new-account-btn {
    @extend %button-style;
    background-color: #42b72a;
    font-size: 18px;

    &:hover {
        background-color: #369b22;
    }

    &:active {
        background-color: #2d8220;
    }
}

#sign-up-btn {
    @extend %button-style;
    background-color: rgb(80, 80, 231);

    &:hover {
        background-color: rgb(50, 50, 205);
    }

    &:active {
        background-color: blue;
    }
}

#toggle-guidelines-btn {

    color: white;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;


    background-color: rgb(80, 80, 231);

    &:hover {
        background-color: rgb(50, 50, 205);
    }

    &:active {
        background-color: blue;
    }
}



#save-edit-task-btn {
    @extend %button-style;
    background-color: #1de912;
    width: 100%;
    margin-top: 10px;

    &:hover {
        background-color: #4aee13;
    }

    &:active {
        background-color: #505050;
    }
}