<div class="home">

    <%- include('_login-form') %>

    <img id="todo-list-img" src="images/todo_list.jpg" class="rounded-image"
        alt="A table on which there are plants, paper clips, a clipboard, an alarm clock and a ballpoint pen.">

</div>


<%- include('_register-box') %>

<%- include('_cookie-banner') %>