<main>
    <h2>To-Do List</h2>

    <input type="text" id="task-input" placeholder="Enter task...">

    <%- include('_priority-input') %>

    <button id='add-task-btn' onclick="addTask()">Add Task</button>

    <%- include('_todo-table') %>

    <script src="/js/task.js"></script>

</main>