<main>
    <h2>To-Do List</h2>

    <%- include('_new-task-form') %>

    <%- include('_todo-table') %>

    <script src="../../../frontend/public/js/task.js"></script>
</main>



<%- include('_edit-task-modal') %>