<main>

    <img id="cat-404" src="../../images/404_cat.jpeg" alt="A sad looking cat and the white text 404 not found.">
    <button href="/" id="home-btn">Bring Me Home</button>

    <script>
        document.getElementById('home-btn').addEventListener('click', function() {
            window.location.href = '/';
        });
    </script>


</main>